data/research_debug/BTCUSDT/full_201910_202602/*.parquet filter=lfs diff=lfs merge=lfs -text
data/research_debug/BTCUSDT/full_201910_202602/*_pred.csv filter=lfs diff=lfs merge=lfs -text
data/research_debug/BTCUSDT/full_201910_202602/*predictions.csv filter=lfs diff=lfs merge=lfs -text
